@page "/"
@inject MongoDBPhotoService PhotoService

<PageTitle>Disney World Diary</PageTitle>

<h1>@Constants.MainWindowHeader</h1>
<p>@Constants.MainWindowTagline</p>

<NavLink class="btn btn-primary" href="/addphoto">+ Add Photo</NavLink>

<div class="row mb-3">
    @foreach (var photo in _photos)
    {
        <div class="col-md-4">
            <div class="card" style="padding: 10px;">
                <p>Title: @photo.Title </p>
                <p>Caption: @photo.Caption </p>
                <p>Uploaded Date: @photo.Date</p>
                <img class="card-img-top" loading="lazy" style="margin: 0 auto; max-width: 325px;" src="@photo.PreviewImageSrc" alt="@photo.Title" />
            </div>
        </div>
    }
</div>

@code{
    private List<Photo> _photos = new();
    private Photo newPhoto = new();

    protected override async Task OnInitializedAsync()
    {
        _photos = await PhotoService.GetAllAsync();
    }
}