@page "/"
@inject MongoDBPhotoService PhotoService

<PageTitle>Disney World Diary</PageTitle>

<h1>@Constants.MainWindowHeader</h1>
<p>@Constants.MainWindowTagline</p>

<NavLink class="btn btn-primary mb-3" href="/addphoto">+ Add Photo</NavLink>

@if(loading)
{
    <div>
        <p> <img src="mickeymouse.png" style="height: 50px;"> Loading photos...</p>
    </div>
}

<div class="row mb-3">
    @foreach (var photo in _photos)
    {
        <div class="col-md-4">
            <div class="card" style="padding: 10px;">
                <p>Title: @photo.Title </p>
                <p>Caption: @photo.Caption </p>
                <p>Uploaded Date: @photo.Date</p>
                <img class="card-img-top mb-3" loading="lazy" style="margin: 0 auto; max-width: 325px;" src="@photo.PreviewImageSrc" alt="@photo.Title" />

                <button class="btn btn-primary mx-auto" style="width: auto;" @onclick="() => ShowFullImage(photo.ID.ToString())">View Full Image</button>
            </div>
        </div>
    }
</div>

@if (isModalVisible)
{
    <div class="modal fade show d-block" tabindex="-1" @onkeydown="CloseModal" style="background-color: rgba(0,0,0,0.5);" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @if(loadingModal || selectedPhoto is null)
                {
                    <div class="mx-auto modal-body">
                        <img src="mickeymouse.png" style="height: 50px;"> Loading...
                    </div>
                }
                else{
                    <div class="modal-header">
                        <h5 class="modal-title">Full Image: @selectedPhoto.Title</h5>
                        <button type="button" class="btn-close" @onclick="@(() => CloseModal(null))"></button>
                    </div>
                    <div class="modal-body">
                        <p>Caption: @selectedPhoto.Caption </p>
                        <p>Uploaded Date: @selectedPhoto.Date</p>
                        <img src="@fullImageData" class="img-fluid rounded" style="margin: 0 auto"/>
                    </div>
                }
            </div>
        </div>
    </div>
}

@code{
    private List<Photo> _photos = new();
    private bool loading = true;
    private bool loadingModal = true;
    private Photo? selectedPhoto = new();
    private string fullImageData = string.Empty;
    bool isModalVisible = false;

    protected override async Task OnInitializedAsync()
    {
        _photos = await PhotoService.GetAllAsync();
        loading = false;
    }
    
    private async Task ShowFullImage(string photoId)
    {
        isModalVisible = true;
        var photo = await PhotoService.GetPhotoByIdAsync(photoId);
        loadingModal = false;
        selectedPhoto = photo;
        fullImageData = photo.ImageSrc;
    }

    private void CloseModal(KeyboardEventArgs? e)
    {
        if (e is null || e.Key == "Escape")
        {
            fullImageData = string.Empty;
            selectedPhoto = null;
            isModalVisible = false;
            StateHasChanged();
        }
    }   
}